certifi==2025.7.9
charset-normalizer==3.4.2
idna==3.10
imageio==2.37.0
joblib==1.5.1
lazy_loader==0.4
natsort==8.4.0
networkx==3.5
numpy==2.3.1
packaging==25.0
pillow==11.3.0
praw==7.8.1
prawcore==2.4.0
requests==2.32.4
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.16.0
threadpoolctl==3.6.0
tifffile==2025.6.11
update-checker==0.18.0
urllib3==2.5.0
websocket-client==1.8.0
